@import "config";
@import "utilities";
@import "btnConfig";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
  color: text-color-picker($light-color);
}



a {
  text-decoration: none;
}

.hero {
  text-align: center;
  color: $primary-color;
  padding: 2rem 0;


  .box {
    max-width: 100vw;

     nav {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .banner {
      background-color: $primary-color;
      color: text-color-picker($primary-color);
      padding: 1rem;
      margin-bottom: 2rem;
        }

    ul {
      list-style-type: none;
      padding: 0;
      // margin-bottom: 2rem;
    }

    li {
      display: inline-block;
      margin-right: 1rem;
    }

    a {
      color: text-color-picker($primary-color);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  }
  

 
  .hero-content {
    background-color: $primary-color;
    color: text-color-picker($primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;;

    div {
      flex-basis: 50%;
    }

 img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  margin: 2rem;
}
  }
  // This is where the bulk of the SCSS styling needs to be done

  // Take a look at the other files we've built already. How can they be useful here?

  // Also, take time to review the features of SCSS we've already covered:
  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
